.thumbs-up {
	width: 1.88rem;
	height: 1.88rem;
	min-width: 1.88rem;
	min-height: 1.88rem;
	background: rgba(var(--color-green-positive), .8);
	border: 2px solid rgba(var(--color-green-positive), .8);
	padding: auto auto;
	display: flex;
}

.thumbs-up--selected {
	width: 1.88rem;
	height: 1.88rem;
	min-width: 1.88rem;
	min-height: 1.88rem;
	background: rgba(var(--color-green-positive), .8);
	padding: auto auto;
	display: flex;
	border: 2px solid var(--color-white);
}